package templates

import "server/models"

templ UserSearch(users []models.User) {
<tr class="border-b border-gray-200 hover:bg-gray-100">
    if len(users) > 0 {
    for _, user := range users {
    @UserRow(user)
    }
    } else {
    <p class="font-medium p-2">No Matches...</p>
    }
</tr>
}
